<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v4login</title>
</head>
<body>
    <form action="/v4transfer/" method="post">
        <!-- 验证令牌 -->
        {% csrf_token %}
        <p>
            转出：
            <input type="text" name="from">
        </p>
        <p>
            转入：
            <input type="text" name="to">
        </p>
         <p>
            多少钱：
            <input type="text" name="money">
        </p>
        <p>
            <input type="submit" value="登录">
        </p>
    </form>
</body>
</html>